<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        id="cordova-plugin-bluetooth-obd" version="0.0.1">
    <name>Bluetooth-OBD</name>
    <description>Cordova Bluetooth-OBD Plugin</description>
    <keywords>OBD,ODB</keywords>
    <js-module src="lib/obd.js" name="obd">
        <clobbers target="obd" />
    </js-module>
    <js-module src="lib/obdInfo.js" name="obdInfo">
        <clobbers target="obdInfo" />
    </js-module>
</plugin>
